.imperio{
    background-color: rgba(255, 0, 0, 0.490);
}

.rebeldes{
    background-color: rgba(0, 0, 255, 0.490);
}

#darth-vader {
    font-size: 120%;
}

#luke {
    font-style: cursive;
}






header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    }

    header img {
      max-height: 150px; /* ajusta el tamaño según tu necesidad */
    }

    

body {
    background-image: url('imagenes/salto.jpg');
    background-size: cover;      /* Ajusta la imagen al tamaño total */
    background-repeat: no-repeat; /* Evita que se repita */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    background-position: center;  /* Centra la imagen */
    display: flex;
    flex-direction: column; /* ← apila los elementos verticalmente */
    align-items: center;    /* ← centra horizontalmente */
    min-height: 100vh;
    margin: 10%;
    padding: 40px 20px;
}




.fila {
    display: flex;
    gap: 20px;
    justify-content: center;
}


/* --------------------     REBELDES     ---------------------------- */

.contenedor-rebeldes {
    background-color: rgb(58, 58, 241);
    border-radius: 30px;
    color: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}


.titulo-rebeldes {
    border: 3px solid rgb(205, 231, 255);
    border-radius: 30px;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}



.imagen-rebeldes {
    flex: 1;
    border-radius: 30px;
    color: white;
    padding: 20px;
    text-align: center;
}

.texto-rebeldes {
    flex: 1;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-rebeldes:hover {
    background-color: rgb(1, 60, 116);
    transition: background-color 0.3s ease;
    border-radius: 30px;
}


.imagen-rebeldes img {
    border-radius: 30px;
}   

.imagen-rebeldes :hover{
    transform: scale(1.15);
    background-color: rgb(1, 60, 116);

    transform: background-color 0.3s ease;
    
    transition: transform 0.3s ease;
}   

.apoyo-rebeldes{
    flex: 1;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apoyo-rebeldes:hover{
    background-color: rgb(1, 60, 116);
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

.naves-rebeldes {
    flex: 1;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.naves-rebeldes:hover {
    text-transform: uppercase;
    background-color: rgb(1, 60, 116);
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

.droides{
    flex: 1;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.droides:hover {
    background-color: rgb(1, 60, 116);
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

/* --------------------     IMPERIO     ---------------------------- */


.contenedor-imperio {
    background-color: rgb(223, 18, 18);
    border-radius: 30px;
    color: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.titulo-imperio {
    border: 3px solid rgb(205, 231, 255);
    border-radius: 30px;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.imagen-imperio {
    flex: 1;
    border-radius: 30px;
    color: white;
    padding: 20px;
    text-align: center;
}

.texto-imperio {
    flex: 1;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-imperio:hover {
    background-color: rgb(116, 1, 1);
    transition: background-color 0.3s ease;
    border-radius: 30px;
}


.imagen-imperio img {
    border-radius: 30px;
}   

.imagen-imperio :hover{
    transform: scale(1.15);
    background-color: rgb(116, 1, 1);

    transform: background-color 0.3s ease;
    
    transition: transform 0.3s ease;
} 

.soldados{
    flex: 1;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soldados:hover {
    border-style: dashed;
    background-color: rgb(116, 1, 1);
    transition: background-color 0.3s ease;
    border-radius: 30px;
}


.apoyo-imperio{
    flex: 1;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apoyo-imperio:hover {
    background-color: rgb(116, 1, 1);
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

.naves-imperio {
    flex: 1;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.naves-imperio:hover {
    text-transform: uppercase;
    background-color: rgb(116, 1, 1);
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

