body{
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 10%;
    padding: 40px 20px;
}

button{
    padding:8px 16px;
    border-radius:5px;
    border:none;
    background:#333;
    color:white;
}

header{
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgb(255, 255, 255); 
}

#comentarios-lista > div {
    border-bottom: 1px solid #bbb;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
#comentarios-lista > div:last-child {
    border-bottom: none;
}

#comentario-form {
    width:100%;
    display:flex;
    gap:10px;
    margin-top:10px;
}

#comentario-input {
    flex:1;
    padding:8px;
    border-radius:5px;
    border:1px solid #ccc;
    box-sizing: border-box;
}

.coment {
    background-color: rgb(77, 77, 77);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    margin-top: 10px;
    width: 100%;
    padding: 20px 20px 20px 30px;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    min-height: 120px;
    position: relative;
    gap: 10px;
}

.container {
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    border: 1px solid white;
    color: aliceblue;
    width: 90%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 400px;
    position: relative;
}

.container img {
    max-width: calc(100% - 50px); 
    height: auto;
    display: block;
    margin: 25px auto;
    box-sizing: border-box;
    border-radius: 8px;
}

.perfil-usuario {
    display: flex; 
    align-items: center; 
    gap: 10px;
}

.perfil-usuario img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}