body{
    background-color: #D9DCD6;
    background-size: cover;      /* Ajusta la imagen al tamaño total */
    background-repeat: no-repeat; /* Evita que se repita */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    background-position: center;  /* Centra la imagen */
    display: flex;
    flex-direction: column; /* ← apila los elementos verticalmente */
    align-items: center;    /* ← centra horizontalmente */
    min-height: 100vh;
    margin: 10%;
}


#comentarios-lista > div {
    border-bottom: 1px solid #2F6690;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
#comentarios-lista > div:last-child {
    border-bottom: none;
}

#comentario-form {
    color: white;
    text-align: center;
    font-family: sans-serif;
    background-color: #023047;
    width:100%;
    display:flex;
    gap:10px;
    margin-top:10px;
    padding: 10px
}

#comentario-input {
    flex:1;
    padding:8px;
    border-radius:5px;
    border:1px solid #023047;
    box-sizing: border-box;
    min-width: 700px;
}

.app {
    background-color: #0e0e0e00;
}

.app header {
    background-color: #16425B;
    color: rgb(255, 255, 255);
    font-family:"times new roman", Times, serif;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.coment {
    background-color: #81C3D7;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    margin-top: 10px;
    width: 100%;
    padding: 20px 20px 20px 30px;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    min-height: 120px;
    position: relative;
    gap: 10px;
}

.container {
    background-color: #2F6690;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
    width: 100%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 400px;
    position: relative;
}

.container img {
    max-width: calc(100% - 50px); 
    height: auto;
    display: block;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 8px;
}

.perfil-usuario {
    color: white;
    display: flex; 
    align-items: center; 
    gap: 10px;
}

.perfil-usuario img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.reaction {
    padding: 5px 10px;
    margin: 5px;
    color: white;
    background-color: #16425B;
    border-color: #0e0e0e;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: background 0.2s;
}

.reaction:hover {
    background-color: rgb(194, 172, 255);
}

.reactions-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.like, .risa, .sorpresa {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animar-like, .animar-risa, .animar-sorpresa {
    animation: like 0.3s;
}


@keyframes like {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes risa {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sorpresa {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.cont{
    font-size: 1.3rem;
    min-width: 24px;
}