body {
font-family: Arial, sans-serif;
padding: 30px;
background-color: #f5f5f5;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(31, 5, 180);
    color: white;
    border-radius: 0;
}

.container {
background-color: white;
padding: 20px;
max-width: 400px;
margin: auto;
border-radius: 10px;
box-shadow: 0 0 10px #ccc;
}

label {
display: block;
margin-top: 10px;
}

button {
margin-top: 20px;
padding: 10px;
width: 100%;
background-color: #0ea8bd;
color: white;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}

#resultado {
margin-top: 20px;
font-weight: bold;
text-align: center;
}